nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002155;
    color: #f3eeea;
    height: 3rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover,
nav ul li div:hover {
    background-color: #003077;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #f3eeea;
    border-radius: 0.2rem;
}

@media (max-width: 670px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        position: absolute;
        top: 3rem;
        left: 0;
        background-color: #002155;
        z-index: 1000;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}
